<body>
    <form [formGroup]="QuestionForm" method="GET">
        <input type="text" id=query name=query formControlName=query placeholder="Ask your Query..." autocomplete=off style="width:600px; height:50px; margin-top: 200px;margin-left: 350px" >
    
    <button type="submit" style="position:absolute; left:958px; top: 200px; width:50px; height:55px; background-color: #4CAF50"  title="Send" (click)="submit()">
    
    <img src="../assets/send.png" height="35" width="35"></button>
    </form>

  <style>

  body{
    background-image: url('../assets/pwc-bg.png'); background-size:cover; min-height: 100%; min-width: 1024px; width: 105%; height: auto; position: fixed;top: -8px; left: -10px;
    background-repeat: no-repeat;
  }
  </style>

  <p text-align="center"style="width: 500px; word-wrap:break-word;position:absolute; left:400px; top: 300px">{{response | json}}</p>

 
 
  
</body> 